.colored-message {
    font-size: 20rem;
    color: darkblue;
}

.rock-solid-development {
    width: 480px;
    height: 270px;
    background-image: url(https://media.giphy.com/media/3oEduMCauemnlWCBEI/giphy.gif);
}